@font-face {
    font-family: "Inter";
    src: url(fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: "Inter_Italic";
    src: url(fonts/Inter/Inter-Italic.otf);
}


html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background: #E1D4C9;
    margin: 0px;
}

.b_hide {
	opacity: 0;
	transition: 1s opacity ease-in-out;
}
.b_visible {
	opacity: 1;
}

main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;
}

/* fonts */

h1 {
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
    font-size: 72px;
    font-weight: 600;
    line-height: 105%;
    color: #E1D4C9;
}

h2 {
    margin: 0;
    font-family: Inter;
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
    color: #403F3D;
}

h3 {
    margin: 0;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    color: #403F3D;
}

p {
    margin: 0;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

a, button {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}

a {
    position: relative;
    text-decoration: none;
    color: #403F3D;
    
}

a::before {
    content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #403F3D;
  transform: scaleX(0);
  transition: transform 0.6s ease;

}

.beforeBurger {
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
}

.wrapper {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    padding: 0px 40px;
    flex-direction: column;
}

header {
    height: 60px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo {
    width: 100px;
    height: 60px;
    transition: all 1s;
    z-index: 5;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex: 1 0 0;
    align-self: stretch;
}

ul {
    padding: 0;
}

li {
    margin-bottom: 4px;
}

.navigationList {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 40px;
    justify-content: space-between;
}

.beforeBurger {
    display: flex;
    flex-direction: column;
    width: 72px;
    height: 30px;
    gap: 3px;
}

.beforeBurger p {
    color: #403F3D;
    width: 44px;
    height: 20px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
    align-self: flex-end;
    margin-bottom: -1px;
}

.menuText {
    display: flex;
    width: 72px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-bottom: 4px;
}

.lineUnderMenu {
    width: 72px;
    height: 2px;
    background: #403F3D;
}

/* offer drink */

.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 1360px;
    height: 236px;
}

.offerText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 800px;
    color: #403F3D;
    text-align: center;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.offerTabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    width: 361px;
    height: 46px;
}

.specialForH1 {
    display: none;
}

.amazing {
    color: #B0907A;
    font-family: Inter_Italic;
    font-style: italic;
    letter-spacing: 0.8px;
}

.choiceBlock_1 {
    display: flex;
    background: none;
    padding: 8px 16px 8px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid #C1B6AD;
    box-sizing: border-box;
    height: 46px;
    transition: all 0.5s;
}

.offerTabs input[type="radio"] {
    display: none;
}

.coffeeChoice {
    box-sizing: border-box;
    width: 115px;
}

.teaChoice {
    box-sizing: border-box;
    width: 90px;
}

.dessertChoice {
    box-sizing: border-box;
    width: 124px;
}



.offerTabs span {
    z-index: 5;
    color: #403F3D;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    padding-left: 6px;
}

.circle1, .circle2, .circle3 {
    position: absolute;
    width: 24px;
    height: 30px;
    border-radius: 100px;
    background: #C1B6AD;
}

.circle1 {
    transform: translate(-30px);
}

.circle2 {
    transform: translate(-17px);
}

.circle3 {
    transform: translate(-35px);
}

.offerTabs img {
    z-index: 5;
    padding-left: 7px;
}

input[type="radio"]:checked + .choiceBlock_1 {
    background: #665F55;
}

input[type="radio"]:checked + .choiceBlock_1 .circle1 {
    background: #E1D4C9;
}

input[type="radio"]:checked + .choiceBlock_1 .circle2 {
    background: #E1D4C9;
}

input[type="radio"]:checked + .choiceBlock_1 .circle3 {
    background: #E1D4C9;
}

input[type="radio"]:checked + .choiceBlock_1 span {
    color: #E1D4C9;
}

input[type="radio"]:checked + .choiceBlock_1 span {
    color: #E1D4C9;
}

input[type="radio"]:checked + .choiceBlock_1 span {
    color: #E1D4C9;
}

.manyChoicesDrinks {
    gap: 20px;
    display: flex;
    width: 1360px;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
    opacity: 1;
    transition: opacity 1s;
}

.boxPic {
    box-sizing: border-box;
    width: 310px;
    display: flex;
    height: 506px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 40px;
    border: 1px solid #C1B6AD;
    gap: 20px;
}

.boxImg {
    width: 308px;
    height: 310px;
    flex-shrink: 0;
    border-radius: 40px;
    background-size: 110%;
    background-position: center;
    transition: all 1s;
}

.first {
    background-image: url(webp/coffee-1.webp);
}

.second {
    background-image: url(webp/coffee-2.webp);
}

.third {
    background-image: url(webp/coffee-3.webp);
}

.fourth {
    background-image: url(webp/coffee-4.webp);
}

.fifth {
    background-image: url(webp/coffee-5.webp);
}

.sixth {
    background-image: url(webp/coffee-6.webp);
}

.seventh {
    background-image: url(webp/coffee-7.webp);
}

.eighth {
    background-image: url(webp/coffee-8.webp);
}

.contentDrink {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 156px;
    width: 270px;
    justify-content: space-between;
}

.wordsAboutDrink {
    margin-top: 12px;
}

#ContactUs {
    display: flex;
    margin-top: 100px;
    margin-bottom: 40px;
    max-width: 1360px;
    padding: 100px;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: #665F55;
    border-radius: 40px;
}

.contactsTitleMessengers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    width: 530px;
}

.contactsTitleMessengers h2{
    color: #E1D4C9;
}

.messengers {
    display: flex;
    align-items: center;
    gap: 11px;
}

.contactsData {
    width: 530px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.contactsData h3 {
    color: #E1D4C9
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    width: 262px;
    height: 116px;

}

.info span {
    color: #E1D4C9;
    padding-left: 8px;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.info a::before {
  background-color: #E1D4C9;
}

.location {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 184px;
    height: 20px;
}

.location span {
    width: 154px;
    height: 20px;
}

.location svg {
    align-self: flex-end;
}

.telephone {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    width: 175px;
    height: 24px;
}

.clock {
    display: flex;
    width: 262px;
    height: 28px;
}


.icon_twitter, .icon_instagram, .icon_facebook{
    display: flex;
    width: 59px;
    height: 57px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid #C1B6AD;
    transition: all 1s;
}

.icon_facebook svg {
    stroke: #E1D4C9;
}

.icon_instagram svg {
    stroke: #E1D4C9;
}

.icon_twitter svg {
    stroke: #E1D4C9;
}

.coffee_time {
    position: relative;
    box-sizing: border-box;
    color: #B0907A;
    font-family: Inter_Italic;
    font-weight: 600;
    width: 200px;
    letter-spacing: 1px;
    font-size: 58px;
    line-height: 125%;
    letter-spacing: 1.5px;
}

.buttonLoad {
        display: none;
        background-image: url(icons/refresh.svg);
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

.modal_window {
    width: 800px;
    height: 504px;
}

.modal_info {
    padding-left: 20px;
}

.sizes {
    height: 78px;
}

.notice_definition {
    width: 414px;
    height: 28px;
}

.notice_definition p{
    width: 414px;
    height: 28px;
}
/* hover */

@media (hover: hover) and (pointer: fine) {

    .burger:hover {
        cursor: pointer;
    }

    .beforeBurger:hover {
        cursor: pointer;
    }

    a:hover {
        color: #403F3D;
    }
    
    a:hover::before {
        transform: scaleX(1);
    }
    
    .logo a:hover::before {
        transform: scaleX(0);
    }
    
    .logo:hover {
        cursor: pointer;
        scale: 1.1;
    }
    
    .choiceBlock:hover {
        background: #665F55;
        cursor: pointer;
    }

    .choiceBlock_1:hover {
        background: #665F55;
        cursor: pointer;
    }
    
    input[type='radio']:checked + .choiceBlock:hover {
        cursor: default;
    }

    input[type='radio']:checked + .choiceBlock_1:hover {
        cursor: default;
    }
    
    .choiceBlock:hover span{
        color: #E1D4C9;
    }

    .choiceBlock_1:hover span{
        color: #E1D4C9;
    }
    
    
    .choiceBlock:hover .circle1 {
        background: #E1D4C9;
    }

    .choiceBlock_1:hover .circle1 {
        background: #E1D4C9;
    }
    
    .choiceBlock:hover .circle2 {
        background: #E1D4C9;
    }

    .choiceBlock_1:hover .circle2 {
        background: #E1D4C9;
    }
    
    .choiceBlock:hover .circle3 {
        background: #E1D4C9;
    }

    .choiceBlock_1:hover .circle3 {
        background: #E1D4C9;
    }

    .buttonLoad:hover {
        cursor: pointer;
        scale: 1.1;
    }
    
    .boxPic:hover .boxImg{
        background-size: 100%;
    }
    
    .boxPic:hover {
        cursor: pointer;
    }
    
    .icon_facebook:hover svg {
        stroke: #403F3D;
        z-index: 3;
    }
    
    .icon_facebook:hover {
        background-color: #E1D4C9;
        cursor: pointer;
    }
    
    .icon_instagram:hover svg {
        stroke: #403F3D;
        z-index: 3;
    }
    
    .icon_instagram:hover {
        background-color: #E1D4C9;
        cursor: pointer;
    }
    
    .icon_twitter:hover svg {
        stroke: #403F3D;
        z-index: 3;
    }
    
    .icon_twitter:hover {
        background-color: #E1D4C9;
        cursor: pointer;
    }

    .button_close:hover {
        cursor: pointer;
        background-color: #665F55;
        color:#E1D4C9;
    }

}

/* Tablet version */ 
@media screen and (max-width: 1439px) and (min-width: 768px) {
    .wrapper {
        width: 100%;
    }

    .offer, .offerText, .manyChoicesDrinks {
        width: 100%;
        height: auto;
    }

    #ContactUs {
        flex-direction: column;
    }

    .manyChoicesDrinks {
        gap: 40px;
        justify-content: center;
    }

    .buttonLoad {
        display: none;
    }


    .modal_window {
        width: 800px;
        height: 504px;
    }

    @media screen and (max-width: 840px) {
        .modal_window {
            width: 688px;
            height: 626px;
        }
    
        .modal_info {
            width: 346px;
            height: 626px;
            padding-left: 20px;
        }
    
        .specification, .sizes, .sizes_buttons, .additives, .total, .notice {
            max-width: 326px;
        }
    
        .sizes_buttons, .additives_buttons {
            flex-wrap: wrap;
        }
    
        .sizes {
            height: 132px;
            width: 326px;
        }
    
        .notice_definition {
            width: 302px;
            height: 42px;
        }
        
        .notice_definition p{
            width: 302px;
            height: 42px;
        }
    }


}

@media screen and (max-width: 768px) and (min-width: 760px) {

    .wrapper {
        width: 100%;
    }

    .offer, .offerText, .manyChoicesDrinks {
        width: 100%;
        height: auto;
    }

    .navigationList {
        display: none;
    }

    .beforeBurger {
        display: none;
    }

    .burger {
        display: block;
        position: relative;
        width: 42.5px;
        height: 42.5px;
        border-radius: 100px;
        border: 1px solid #665F55;
    }

    .burger span, .burger:after {
        display: block;
        width: 17.5px;
        position: absolute;
        background: #515758;
        margin-left: 13px;
    }

    .burger span {
        height: 1.5px;
        top: 16px;
        box-sizing: border-box;
    }

    .burger:after {
        content: "";
        bottom: 17px;
        height: 1.5px;
    }

    .boxPic {
        display: none;
    }

    .boxPic:nth-child(-n + 4) {
        display: flex;
    }

    .manyChoicesDrinks {
        gap: 40px;
        justify-content: center;
    }

    .offerTabs {
        height: 44px;
    }

    .boxImg {
        height: 311px;
    }

    .buttonLoad {
        width: 60px;
        height: 60px;
        border-radius: 100px;
        border: 1px solid #665F55;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #ContactUs {
        padding: 100px 60px;
        align-items: flex-start;
        flex-direction: column;
    }

    .modal_window {
        width: 688px;
        height: 626px;
    }

    .modal_info {
        width: 346px;
        height: 626px;
        padding-left: 20px;
    }

    .specification, .sizes, .sizes_buttons, .additives, .total, .notice {
        max-width: 326px;
    }

    .sizes_buttons, .additives_buttons {
        flex-wrap: wrap;
    }

    .sizes {
        height: 132px;
        width: 326px;
    }

    .notice_definition {
        width: 302px;
        height: 42px;
    }
    
    .notice_definition p{
        width: 302px;
        height: 42px;
    }

    .tea_modal_tablet{
        height: 650px;
    }

    .dessert_modal_tablet{
        height: 572px;
    }
    .dessert_tablet_sizes{
        height: 76px;
    }

}

/* Mobile version */
@media screen and (max-width: 760px) {

    

    .wrapper {
        width: 100%;
        padding: 0px 16px;
    }

    .offer, .offerText, .manyChoicesDrinks, .offerTabs {
        width: 100%;
        height: auto;
    }

    .offerTabs{
        gap: 8px;
    }

    h2, .coffee_time {
        font-size: 32px;
    }

    .coffee_time {
        letter-spacing: 0.5px;
    }

    .amazing {
        font-size: 31px;
    }

    .navigationList {
        display: none;
    }

    .beforeBurger {
        display: none;
    }

    .burger {
        display: block;
        position: relative;
        width: 42.5px;
        height: 42.5px;
        border-radius: 100px;
        border: 1px solid #665F55;
    }

    .burger span, .burger:after {
        display: block;
        width: 17.5px;
        position: absolute;
        background: #515758;
        margin-left: 13px;
    }

    .burger span {
        height: 1.5px;
        top: 16px;
        box-sizing: border-box;
    }

    .burger:after {
        content: "";
        bottom: 17px;
        height: 1.5px;
    }

    .boxPic {
        display: none;
    }

    .boxPic:nth-child(-n + 4) {
        display: flex;
    }

    .manyChoicesDrinks {
        gap: 40px;
        justify-content: center;
    }

    .notice_definition p, .notice_definition{
        width: 286px;
        height: 42px;
    }

    @media screen and (max-width: 760px) and (min-width: 420px) {
        .offerTabs {
            width: 361px;
        }
    }
    
    .offerTabs {
        height: 46px;
        gap: 0px;
    }

    .dessertChoice {
        padding-left: 5px;
        gap: 5px;
    }

    .teaChoice span{
        padding-left: 5px;
    }

    .teaChoice{
        padding-left: 5px;
    }

    .dessertChoice>img {
        padding-left: 2px;
    }

    .boxImg {
        height: 309px;
    }

    .coffeeChoice {
        width: 117px;
    }

    .contentDrink {
        padding-left: 19px;
    }

    .buttonLoad {
        width: 59px;
        height: 59px;
        border-radius: 100px;
        border: 1px solid #665F55;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #ContactUs {
        padding: 60px 16px;
        align-items: flex-start;
        flex-direction: column;
        gap: 40px;
    }

    .contactsTitleMessengers {
        width: 100%;
    }

    .contactsData, .info, .clock, .location, .telephone {
        width: 100%;
    }

    .telephone {
        justify-content: flex-start;
    }

    .messengers {
        gap: 12px;
    }

    .icon_twitter, .icon_instagram, .icon_facebook {
        height: 58px;
        width: 58px;
    }

    .modal_window {
        width: 342px;
        height: 626px;
    }

    .img_modal_box {
        display: none;
    }

    .modal_info {
        width: 310px;
        padding-left: 0px;
    }

    .specification, .sizes, .sizes_buttons, .additives, .total, .notice {
        max-width: 326px;
    }

    .sizes_buttons, .additives_buttons {
        flex-wrap: wrap;
    }

    .sizes {
        height: 132px;
        width: 326px;
    }

    .tea_modal_mobile {
        height: 650px;
    }
    .dessert_modal_mobile {
        height: 626px;
    }

    .dessert_sizes_buttons {
        width: 300px;
    }

    

    @media screen and (max-width: 370px) {
        .offerTabs {
            flex-direction: column;
            gap: 10px;
        }

        .dessertChoice {
            width: 115px;
        }
        
        .choiceBlock_1 {
            width: 100%;
        }

        .contentDrink, .titleAndWords, .titleForDrink, .boxPic, .boxImg {
            width: 100%;
        }

        .contentDrink {
            padding: 5px 5px;
        }

        .offer {
            height: 320px;
        }

        .modal_window {
            width: auto;
            height: auto;
        }

        .modal_info {
            width: auto;
            height: auto;
        }

        .specification, .sizes, .sizes_buttons, .additives, .total, .notice {
            width: auto;
        }

    }

    @media screen and (max-width: 263px) {
        .offer {
            height: 370px;
        }
    }

}

/* Menu-burger */

@media screen and (max-width: 768px) {
    header {
        z-index: 10;
        justify-content: space-between;
    }

    .burger {
        z-index: 15;
    }

    .burger span {
        transition: all 1s ease-in-out;
    }

    .burger::after {
        transition: all 1s ease-in-out;
    }

    .background_menu {
        display: block;
        position: fixed;
        z-index: 9;
        width: 100%;
        height: 100%;
        background-color: #E1D4C9;
        transform: translateX(768px);
        transition: all 1s;
    }

    nav {
        width: 100%;
        height: 60px;
        position: fixed;
        display: block;
        left: 0;
    }

    .navigationList {
        display: flex;
        position: fixed;
        left: 0;
        flex-direction: column;
        top: 144px;
        text-align: center;
        gap: 56px;
        width: 100%;
        transform: translateX(768px);
        transition: all 1s;
    }

    .beforeBurger {
        flex-direction: row;
        display: flex;
        z-index: 11;
        position: fixed;
        width: 100%;
        justify-content: center;
        top: 596px;
        left: 0;
        transform: translateX(768px);
        transition: all 1s;
        height: auto;
    }
    
    .logo {
        z-index: 5;
    }

    .beforeBurger p::before {
        content: "";
      position: absolute;
      display: block;
      width: 144px;
      height: 2px;
      bottom: -4px;
      left: auto;
      right: auto;
      background-color: #403F3D;
      transform: scaleX(1);
      transition: transform 0.6s ease;
    
    }

    .beforeBurger p {
        font-size: 32px;
        width: auto;
        gap: 16px;
        height: auto;
    }

    .beforeBurger img {
        width: 40px;
        height: 40px;
    }

    .burger_cross span {
        transform: rotate(45deg);
        top: 20.34px;
        transition: all 0.8s ease-in-out;
    }

    .burger_cross::after {
        transform: rotate(-45deg);
        bottom: 20.34px;
        transition: all 0.8s ease-in-out;
    }

    .lineUnderMenu {
        display: none;
    }

    .navigationList a{
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    }

    .menuText {
        width: 100%;
        flex-direction: row;
        align-self: center;
        margin: 0;
        gap: 16px;
    }

    .menu_ON {
        transform: translateX(0px);
    }

}

/*modal goods*/

.background_modal {
    background-color: #403F3DCC;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 11;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s;
}

.modal_window {
    box-sizing: border-box;
    position: fixed;
    background-color: #E1D4C9;
    top: 50%;
    left: 50%;
    border-radius: 40px;
    transform: translate(-50%, -50%);
    z-index: 12;
    padding: 16px;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s;
}

.img_modal {
    box-sizing: border-box;
    width: 310px;
    height: 310px;
    background-image: url(webp/coffee-1.webp);
    background-position: center;
    border-radius: 40px;
}

.modal_info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    max-width: 458px;
    height: auto;
}

.specification {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}

.sizes {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sizes_text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.s_m_l, .numbers {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    margin-right: 15.2px;
    z-index: 3;
}

.numbers {
    margin-right: 10px;
}

.sizes_buttons, .additives_buttons {
    display: flex;
    gap: 8px;
    justify-content: flex-start;
}

.sizes_buttons input[type="radio"], .additives_buttons input[type="checkbox"] {
    display: none;
}

.sizes_buttons span, .additives_buttons span {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;   
}

.sizes_buttons .circle1 {
    margin-left: -10px;
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
}

.sizes_buttons .circle2 {
    margin-left: -38px;
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
}

.sizes_buttons .circle3 {
    margin-left: -3px;
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
}

.additives_buttons .circle1 {
    margin-left: -3px;
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
}

.additives_buttons .circle2 {
    margin-left: -63px;
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
}

.additives_buttons .circle3 {
    margin-left: 6px;
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
}

.size.choiceBlock>.circle1.forCake{
    margin-left: 10px
}

.size.choiceBlock>.circle2.forCake{
    margin-left: -24px
}

.size.choiceBlock>.circle3.forCake{
    margin-left: 10px
}

.additives.choiceBlock>.circle1.forCake {
    margin-left: -11px
}

.additives.choiceBlock>.circle2.forCake {
    margin-left: -20px
}

.additives.choiceBlock>.circle3.forCake {
    margin-left: 20px
}

.choiceBlock {
    display: flex;
    background: none;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid #C1B6AD;
    box-sizing: border-box;
    height: 46px;
    transition: all 0.5s;
    padding-left: 18px;
    padding-right: 16px;
    gap: 0;
    position: relative;
}

.size .choiceBlock {
    width: 116px;
}

.additives .choiceBlock {
    padding-left: 18px;
    padding-right: 16px;
    flex-direction: row;
    justify-content: center;
}

.size .choiceBlock {
    box-sizing: border-box;
    height: 46px;
    padding: 0px;
    gap: 0px;
}

.additives {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.total {
    display: flex;
    justify-content: space-between;
}

.notice_icon {
    background-image: url(icons/alert.svg);
    width: 16px;
    height: 16px;
}

.notice {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    border-top: solid 1px #C1B6AD;
    padding: 12px 0px;
}

.notice_definition p{
    font-family: Inter;
    font-size: 10px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
}

.button_close {
    max-width: 438px;
    height: 44px;
    border-radius: 100px;
    background-color: transparent;
    border: solid 1px #665F55;
    transition: all 0.5s;
}

input[type="radio"]:checked + .choiceBlock {
    background: #665F55;
}

input[type="radio"]:checked + .choiceBlock .circle1 {
    background: #E1D4C9;
}

input[type="radio"]:checked + .choiceBlock .circle2 {
    background: #E1D4C9;
}

input[type="radio"]:checked + .choiceBlock .circle3 {
    background: #E1D4C9;
}

input[type="radio"]:checked + .choiceBlock span {
    color: #E1D4C9;
}

input[type="radio"]:checked + .choiceBlock span {
    color: #E1D4C9;
}

input[type="radio"]:checked + .choiceBlock span {
    color: #E1D4C9;
}

input[type="checkbox"]:checked + .choiceBlock {
    background: #665F55;
}

input[type="checkbox"]:checked + .choiceBlock .circle1 {
    background: #E1D4C9;
}

input[type="checkbox"]:checked + .choiceBlock .circle2 {
    background: #E1D4C9;
}

input[type="checkbox"]:checked + .choiceBlock .circle3 {
    background: #E1D4C9;
}

input[type="checkbox"]:checked + .choiceBlock span {
    color: #E1D4C9;
}

input[type="checkbox"]:checked + .choiceBlock span {
    color: #E1D4C9;
}

input[type="checkbox"]:checked + .choiceBlock span {
    color: #E1D4C9;
}

.menu_visible {
    opacity: 1;
    visibility: visible;
}

.menu_visible_back {
    opacity: 1;
    visibility: visible;
}

.forTea{
    margin-left: -36px;
}



