@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

body {
    font-family: 'Merriweather', serif;
    margin: 0;
    color: rgb(32, 113, 70);
}
