.titleGame {
    margin-top: 150px;
    width: 700px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.294);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: rgb(208, 238, 143);
    margin-bottom: 10px;
    font-size: 40px;
    animation-name: blink;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
}

p {
    text-align: justify;
    color: rgb(16, 59, 26);
    background-color: rgba(161, 208, 198, 0.753);
    padding: 10px;
    font-family: 'Madimi One', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    border-radius: 10px;
}
